@CHARSET "UTF-8";

body {
	padding-top: 50px;
}

/* header */
.navbar {
  min-height: 35px !important
}

.navbar-brand {
  height: 35px;
  padding: 5px 15px;
}

.navbar-nav > li > a {
  padding-top: 7px !important;
  padding-bottom: 8px !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.ace_editor {
	height : 400px;
}

.word-wrap {
	white-space:pre-wrap;
	word-wrap:break-word;
}

.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

.glyphicon-refresh-animate {
	-animation: spin .5s infinite linear;
	-ms-animation: spin .5s infinite linear;
	-webkit-animation: spinw .5s infinite linear;
	-moz-animation: spinm .5s infinite linear;
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
	from { -moz-transform: rotate(0deg);}
	to { -moz-transform: rotate(360deg);}
}
