@CHARSET "UTF-8";

.word-wrap {
	white-space:pre-wrap;
	word-wrap:break-word;
}

.glyphicon-refresh-animate {
	-animation: spin .5s infinite linear;
	-ms-animation: spin .5s infinite linear;
	-webkit-animation: spinw .5s infinite linear;
	-moz-animation: spinm .5s infinite linear;
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
	from { -moz-transform: rotate(0deg);}
	to { -moz-transform: rotate(360deg);}
}
